nelmio_api_doc:
    documentation:
        info:
            title: BileMo API
            description: This is the documentation of the BileMo's API
            version: 1.0.0
    areas: # to filter documented areas
        path_patterns:
            - ^/api(?!/doc$) # Accepts routes under /api/ except /api/doc
